- content_for :title, 'お知らせ一覧'

- breadcrumb :notices

scss:
  .notice{

    border: 1px solid #dee2e6;

    h2{
      font-size: 1.5em;
      padding: 1rem;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .notice-item{
      padding: 1rem;
      &:not(:last-child){
        border-bottom: 1px solid #dee2e6;
      }
    }

    .notice-title{
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .notice-body{
      margin-bottom: 0.5rem;
    }

    .notice-footer{
      font-size: 0.8em;
    }

    .notice-more{
      margin: 0.5rem;
    }

  }

.d-flex.justify-content-between
  form.flex-fill.form-group
    .form-row
      .col-10.col-md-5.p-0
        = search_field_tag 'q', params[:q], placeholder: '検索'

= render_with_pagination(@notices.includes(:update_user)) do |notices|

  .clearfix
  .notice.mb-4
    = render notices
